version: '3'
services:
  # Load Balancer
  loadbalancer:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "8080:80"
    depends_on:
      - web_server_1
      - web_server_2

  # Server thứ nhất
  web_server_1:
    image: nginxdemos/hello:plain-text

  # Server thứ hai
  web_server_2:
    image: nginxdemos/hello:plain-text